body {
  overflow: hidden;
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#mapid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#center {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 20%;
  z-index: 2;
  background-color: white;
  border-radius: 14px;
  transition: all 0.5s ease-out 0s;
  transform: translateX(110%);
  overflow: hidden;
}
.active {
  transform: translateX(0);
}

#sidebar-btn {
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

#showMenu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.advert {
  background-color: white;
  width: 300px;
}

.advert img {
  max-height: 300px;
}

.advert-specifics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.advert-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#criteres-form {
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.separator {
  border-top: 1px solid black;
  margin: 25px 10px;
}

#criteres-form h2 {
  margin-bottom: 20px;
}
